@font-face {
  font-family: "Roboto Condensed";
  src: url(../assets/Fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Condensed Light";
  src: url(../assets/Fonts/RobotoCondensed-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url(../assets/Fonts/RobotoCondensed-Bold.ttf);
  font-weight: 400;
}

h1,
h2,
p,
button,
.login-input{
  font-family: "Roboto Condensed Light", sans-serif;
}

h1 {
  font-size: $h1-font-size;
}

p {
  font-size: 1.2rem;
}

.client-number,
.footer-menu,
.button__popup {
  font-family: "Roboto Condensed Bold", sans-serif;
}

.client-number {
  font-size: 1.125rem
}

.footer-menu {
  font-size: 0.8rem;
}
